# Frontend
frontend/
ai-agents-admin/

# Windows specific
win-env/
*.bat

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Virtual Environment
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
pids/
logs/
data/chroma_db
data/mongodb
data/mysql
data/neo4j

# Logs and databases
*.log
*.sqlite
*.db

.bmad-core
.claude